.report-table-users {
  width: 100%;
  align-items: center;
}

.report-table-users th, .report-table-users td {
  padding: 20px;
  text-align: center;
  align-content: center;
  color: var(--mainTextWhite);
}

.report-table-users th {
  background-color: var(--mainColor);
}

.report-table-users td {
  background-color: var(--mainColorBackgroundOpacity);
  border-bottom: 1px solid var(--mainTextWhite);
}

.user-reporting, .user-reported {
  cursor: pointer;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.user-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-info-avatar-name {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.user-name {
  text-align: center;
  font-weight: bold;
}

.user-email {
  font-size: 0.9rem;
}
