<table class="report-table-users">
  <thead>
  <tr>
    <th>User Reporting</th>
    <th>User Reported</th>
    <th>Date</th>
    <th>Reason</th>
    <th>Explanation</th>
    <th>Details</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let report of reports">
    <td class="user-reporting" [routerLink]="['/admin/user', report.reportingUser.id]">
      <div class="user-info">
        <img [src]="report.reportingUser.avatar" alt="Avatar" class="user-avatar">
        <div class="user-details">
          <span class="user-name">{{ report.reportingUser.name }}</span>
          <span class="user-email">{{ report.reportingUser.email }}</span>
        </div>
      </div>
    </td>
    <td class="user-reported" [routerLink]="['/admin/user', report.reportedUser.id]">
      <div class="user-info">
        <img [src]="report.reportedUser.avatar" alt="Avatar" class="user-avatar">
        <div class="user-details">
          <span class="user-name">{{ report.reportedUser.name }}</span>
          <span class="user-email">{{ report.reportedUser.email }}</span>
        </div>
      </div>
    </td>

    <td>23/02/2024</td>

    <td>{{ report.report.predefinedReason }}</td>
    <td>{{ report.report.comment }}</td>

    <td>Fotos de shrek</td>
  </tr>
  </tbody>
</table>
