.reports-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--mainTextWhite);
}

.filter-date {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}

.filter-date-box{
  background: var(--mainColorBackgroundOpacity);
  color: var(--mainTextWhite);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-date-box::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.filter-type {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.filter-type-select {
  background: var(--mainColorBackgroundOpacity);
  color: var(--mainTextWhite);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-type-select option {
  background: var(--mainColorBackground);
  color: var(--mainTextWhite);
}
