.sidebar {
  height: 100%;
  padding: 10px;
  background: var(--mainColor);
  color: var(--mainTextWhite);
  display: flex;
  flex-direction: column;
  align-items: center;

   ul {
    list-style: none;
    width: fit-content;
    flex-grow: 1;

     li {
       padding: 10px 20px;
       margin-bottom: 10px;
       display: flex;
       align-items: center;
       gap: 10px;
       cursor: pointer;
       border-radius: 20px;
       flex-grow: 1;
       transition: background 0.3s, border-radius 0.3s;

       i {
         width: 40px;
         height: 40px;
         display: flex;
         align-items: center;
         justify-content: center;
         background: var(--mainColorBackground);
         border-radius: 50%;
         transition: background 0.3s, color 0.3s;
       }

       &:hover, &.active {
         background: var(--mainColorBackground);
         border-radius: 25px;

          i {
            background: var(--mainTextWhite);
            color: var(--mainColor);
          }
       }

     }
  }
}
