<div class="profile-details-container">
  <div class="profile-details-header">
    <div class="profile-details-header-avatar">
      <img [src]="profile?.preferredImage" alt="avatar">
    </div>
    <div class="profile-details-header-name">
      <h1>{{ profile?.name }}</h1>
      <h1>#{{ formatUserId(profile?.userId) }}</h1>
    </div>
  </div>
  <div class="profile-details-about">
    <h1>About</h1>
    <p><i class="fas fa-envelope"></i> Email: {{user?.email}}</p>
    <p><i class="fas fa-comment"></i> Description: {{profile?.aboutMe}}</p>
  </div>

  <div class="profile-details">
    <h1>Details</h1>
    <p><i class="fas fa-venus-mars"></i> Gender: {{profile?.gender}}</p>
    <p><i class="fas fa-birthday-cake"></i> Birthday: {{formattedBirthday}}</p>
    <p><i class="fas fa-venus-mars"></i> Sexual Orientation: {{profile?.genderPriority}}</p>
  </div>

  <div class="profile-details-activity">
    <h1>Activity</h1>
    <p><i class="fas fa-map-marker-alt"></i> Location: {{ address }}</p>
    <p><i class="fas fa-signal"></i> Status: {{ user?.registered ? 'Active' : 'Inactive' }} </p>
  </div>
</div>
