.profile-details-container {
  display: flex;
  flex-direction: column;
  flex:1;
  gap: 30px;
  padding: 20px;
  background: var(--mainColor);
  color: var(--mainTextWhite);
}

.profile-details-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 20%;
}
.profile-details-container h1 {
  font-size: 2.5rem;
}

.profile-details-container p {
  font-size: 1.5rem;
}

.profile-details-about{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-details{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-details-activity{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
