<div class="profile-details-container">
  <div class="profile-details-header">
    <div class="profile-details-header-avatar">
      <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="avatar">
    </div>
    <div class="profile-details-header-name">
      <h1>John Doe</h1>
      <h1>#123456</h1>
    </div>
  </div>
  <div class="profile-details-about">
    <h2>About</h2>
    <p>Email: pepito&#64;gmail.com</p>
    <p>Description: I like basketball</p>
  </div>
  <div class="profile-details">
    <h2>Details</h2>
    <p>Gender: Male</p>
    <p>Birthday: 01/01/1990</p>
    <p>Sexual Orientation: Straight</p>
  </div>
  <div class="profile-details-activity">
    <h2>Activity</h2>
    <p>Location: Las Palmas, Spain</p>
    <p>Status: Active</p>
  </div>

</div>
