.user-stats-container {
  background: var(--mainColor);
  border: 1px solid var(--mainTextWhite);
}

h2 {
  font-size: x-large;
}

.user-stats-inside-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 30px;
  color: var(--mainTextWhite);
}

.user-stats-table {
  align-items: center;
}

.user-stats-table th, .user-stats-table td {
  padding: 10px;
  text-align: center;
  align-content: center;
  color: var(--mainTextWhite);
}


.user-stats-table td {
  background-color: var(--mainColorBackgroundOpacity);
  border-bottom: 1px solid var(--mainTextWhite);
}

.user-stats-table img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

