.user-stats-container {
  background: var(--mainColor);
  border: 1px solid var(--mainTextWhite);
}

.user-stats-inside-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  gap: 10px;
  color: var(--mainTextWhite);
}

.user-stats-table {
  width: 100%;
  align-items: center;
  border-collapse: collapse;
}
.user-stats-table th, .user-stats-table td {
  padding: 20px;
  text-align: center;
  align-content: center;
  color: var(--mainTextWhite);
}

.user-stats-table th {
  background-color: var(--mainColor);
}

.user-stats-table td {
  background-color: var(--mainColorBackgroundOpacity);
  border-bottom: 1px solid var(--mainTextWhite);
}

.user-stats-table img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

