.login-container{
    display: flex;
    flex: 1;
    height: 100%;
    background: var(--mainColorBackground);
    color: var(--mainTextWhite);
    justify-content: center;
}

.logo {
  width: 300px;
}

.login-inside-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.login-inside-container h1{
    font-size: 2.5rem;
}

.login-text {
  color: #CA97C0;
}

.account-text {
  color: var(--mainTextWhite);
}

.login-fields {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

.email-input, .password-input {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.password-input {
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

.email-input label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.email-input input, .password-input input {
  padding: 10px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.25);;
}

.email-input input {
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

.email-input input::placeholder {
  color: rgba(255, 255, 255, 0.25);;
}

button {
  width: 100%;
  padding: 10px;
  background: #F4D8EE;
  border: none;
  color: var(--mainColorBackground);
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

.password-container {
  display: flex;
  justify-content: space-between;
}


.toggle-password {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #555;
}
.email-input input:focus,
.email-input input:not(:placeholder-shown) {
  color: white;
  border-bottom-color: white;
}

.password-input input:focus,
.password-input input:not(:placeholder-shown) {
  color: white;
}

.password-input:has(input:focus),
.password-input:has(input:not(:placeholder-shown)) {
  border-bottom-color: white;
}

.password-input:has(input:focus) .toggle-password i,
.password-input:has(input:not(:placeholder-shown)) .toggle-password i {
  color: white;
}

.email-input input::placeholder,
.password-input input::placeholder {
  color: rgba(255, 255, 255, 0.25);
}
