<div class="login-container">
  <div class="login-inside-container">
    <img src="/assets/img/logo_unimatch.png"
         alt="Unimatch user manager" class="logo">

    <h1>
      <span class="login-text">Login</span>
      <span class="account-text"> your account</span>
    </h1>

    <div class="input-group">
      <label for="email">Email</label>
      <input type="text" id="email" placeholder="Enter email">
    </div>

    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Enter password">
    </div>
    <button>Log in</button>
  </div>
</div>
