.profile-container{
  display: flex;
  flex:1;
  height: 100%;
  justify-content: center;
  background: var(--mainColorBackground);
}


.profile-inside-container{
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  gap: 10px;
  background: var(--mainColor);
}

/* TODO, hacer que esté hardcodeado */
app-profile-details {
  flex: 0 0 30%;
}

.profile-table{
  display: flex;
  flex:1;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mainTextWhite);
  align-self: flex-end;
  gap: 10px;
}

.pagination-button {
  background: transparent;
  border: none;
  cursor: pointer;

  & i {
    font-size: 20px;
    color: white;
  }
}

.pagination-button:disabled {
  cursor: not-allowed;
}


.not-registered-message {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--mainTextWhite);
  text-align: center;
  background: var(--mainColorBackground);
}



