.users-container{
  display: flex;
  flex:1;
  height: 100%;
  justify-content: center;
  background: var(--mainColorBackground);
}

h2 {
  color: var(--mainTextWhite);
  font-size: x-large;
}
.dashboard-inside-container{
  flex:1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}


.users-lists {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 1;
  gap: 20px;
  background: var(--mainColor);
}

.users-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.users-filters {
  display: flex;
  justify-content: space-between;
}

.filter-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 20%;
}

.filter-buttons button {
  padding: 10px;
  border-radius: 10px;
  background: var(--mainColorBackgroundOpacity);
  color: var(--mainTextWhite);
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.filter-buttons button.selected {
  background-color: var(--mainColorBackground);
  color: white;

}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-input, .filter-select, .filter-button {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mainTextWhite);
  align-self: flex-end;
  gap: 10px;
}

.pagination-button {
  background: transparent;
  border: none;
  cursor: pointer;

  & i {
    font-size: 20px;
    color: white;
  }
}

.pagination-button:disabled {
  cursor: not-allowed;
}

.users-table button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.users-table button:hover {
  background-color: #e60000;
}

.users-table button:focus {
  outline: none;
}
