<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<table class="users-table">
  <thead>
    <tr>
      <th>
        <div class="select-all-users-input">
          <app-checkbox-input
            (change)="toggleSelectAll()"
            [checked]="selectAll">
          </app-checkbox-input>
          <span>User</span>
        </div>
      </th>
      <th>Reports</th>
      <th>Status</th>
      <th>Registered</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" (click)="toggleUserSelection(user)" [class.selected]="selectedUsers.includes(user)">
      <td>
        <div style="display: flex; flex-direction: row; align-items: center; gap: 10px">
          <app-checkbox-input
            [checked]="selectedUsers.includes(user)"
            (change)="toggleUserSelection(user)">
          </app-checkbox-input>
          <div class="user-info" [routerLink]="['/admin/user', user.User.id]">
            <img [src]="user.User.avatar" alt="Avatar" class="user-avatar">
            <div class="user-details">
              <span class="user-name">{{ user.User.name }}</span>
              <span class="user-email">{{ user.Email }}</span>
            </div>
          </div>
        </div>
      </td>
      <td> {{user.Reported}} </td>
      <td> {{user.Status}} </td>
      <td> {{formatDate(user.RegistrationDate)}} </td>
    </tr>
  </tbody>
</table>

<div *ngIf="selectedUsers.length > 0" style="text-align: right;">
  <button (click)="deleteSelectedUsers()" class="delete-button">
    <img src="assets/img/delete.svg" alt="Delete" width="20" height="20" /> <!-- SVG Icon -->
    <span>Delete users</span> <!-- Text next to the icon -->
  </button>
</div>
