.users-table {
  width: 100%;
  border-collapse: collapse;
  cursor: none;
  color: var(--mainTextWhite);
}

.users-table th:nth-last-child(-n+3),
.users-table td:nth-last-child(-n+3) {
  text-align: center;
}

thead {
  background-color: var(--mainColorBackgroundOpacity);
  color: var(--mainTextWhite);
}

tbody {

  overflow-y: auto;
}

.select-all-users-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-details {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
}

.user-email {
  font-size: 0.9rem;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.users-table th, .users-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}



.users-table tr:hover {
  background-color: var(--mainColorBackground);
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
  user-select: none;
  pointer-events: none;
}

.delete-button {
  margin-top: 1vh;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 8px 16px;
  color: #010101;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

.delete-button:hover {
  background-color: rgba(89, 16, 8, 0.148);
  transform: scale(1.05);
  color: rgb(26, 7, 7);
}

.delete-button:active {
  transform: scale(0.95);
}

.delete-button img {
  width: 20px;
  height: 20px;
  transition: filter 0.3s ease;
}

.delete-button:hover img {
  filter: brightness(0) saturate(100%) hue-rotate(0deg) sepia(100%) saturate(1000%) brightness(0) grayscale(0);
}

.delete-button span {
  font-weight: bold;
}
