<header>
  <div class="menu-content">
    <div class="left-side-container">
      <img (click)="navigateTo('/')"
           src="/assets/img/logo_unimatch.png"
           alt="Unimatch user manager" class="logo">
      <h1>UNIMATCH USER MANAGER</h1>
    </div>

    <div class="right-side-container">
      <img src="/assets/img/images.jpg" alt="User photo" class="user-photo">
      <p class="admin-name">
        {{ adminName }}
      </p>

      <button class="log-out-button" (click)="logout()">
        Log out
      </button>
    </div>
  </div>
</header>
