<header>
  <div class="menu-content">
    <div class="left-side-container">
      <img (click)="navigateTo('/')"
           src="/assets/img/logo_unimatch.png"
           alt="Unimatch user manager" class="logo">
      <h1>UNIMATCH USER MANAGER</h1>

    </div>

    <div class="right-side-container">
      <img src="" alt="User photo" class="user-photo">
      <p (click)="toggleDropdown()">
        {{ adminName }}
        <i class="fas fa-chevron-down"></i>
      </p>

      <ul *ngIf="isDropdownOpen" class="dropdown-menu">
        <li (click)="logout()">Log out</li>
      </ul>
    </div>
  </div>
</header>
